@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
    --clr-font--dark: #222222;
    --clr-font--medium: rgb(58, 58, 58);
    --clr-font--light: gray;
    --clr-font--maxlight: #bebebe;
    --clr-background: #e7e7e7;
    --clr-background2: #cfcfcf;
}

body {
    background-color: var(--clr-background2);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
}

body * {
    font-family: 'Montserrat', sans-serif;
    /* font-family: sans-serif; */
    padding: 0;
    margin: 0;
}

.body-carousel {
    background-color: var(--clr-background2);
}


.rurale-background {
    background-color: white;
    background-image: url('../images/backgrounds/IMAGEN\ INTRO-min-cortado.jpg'), linear-gradient(rgb(224, 224, 224), rgba(0, 0, 0, 0.69));
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.center-all--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-all--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*      presentacion        */

header {
    height: 15%;
    width: 100%;
    /* border: 2px solid blue; */
}

nav {
    width: 60%;
    height: 100%;

    /* border: 2px dotted orange; */
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style: none;
    
    /* border: 2px solid purple; */
}

.page {
    width: 80px;
    text-align: center;
    /* border: 2px solid green; */
}

.page a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-font--light);
    font-weight: 600;

    /* border: 2px solid blue; */
}

.page a:hover {
    color: var(--clr-font--dark);
}

main {
    height: 70%;
    width: 100%;
    /* border: 2px solid red; */
}

.home-main {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 2px solid blue; */
}

footer {
    height: 15%;
    width: 100%;
    /* border: 2px solid green; */
}



section {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    /* border: 2px dotted black; */
}

.presentation-content {
    height: 100%;
    max-width: 75ch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: drop 1s ease;

    /* border: 2px solid green; */
}

.presentation-title {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    display: none;
}

.presentation-main-text {
    text-align: justify;
    line-height: 1.5;
    color: var(--clr-font--medium);
}

.footer-img-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    height: 50%;
}

.home-logo {
    height: 35%;
    filter: drop-shadow(0 5px 15px black);
    animation: drop 2s ease;
}

.services-cards-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    gap: 30px;
    margin-bottom: 100px;
    animation: drop 1s ease;

    /* border: 2px solid red; */
}

.service-main-text {
    margin-bottom: 15%;
}

.service-img {
    height: 4rem;
}

.service {
    padding: 1.5rem 0;
    width: 200px;
    border-radius: 5px;
    transition: 200ms ease-in-out;
    /* border: 2px solid blue; */
}

.service:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px rgba(0,0,0,.1);
}

.service-info {
    width: 100%;
    /* border: 2px solid blue; */
}

.service-info h2 {
    font-size: 1.2rem;
    margin: 1.5rem;
}

.service-info-list li {
    color: var(--clr-font--light);
    font-size: 1.1rem;
    line-height: 1.5;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-container h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--clr-font--medium);
}

.contacto-container p {
    margin: 0;
    font-size: 1.2rem;
    color: var(--clr-font--medium);
}

.instagram-container {
    display: flex;
    align-items: center;
    padding: .8rem 1.4rem;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.instagram-container:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px rgba(0,0,0,.1);
}

.instagram-container a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--clr-font--medium);
}

.instagram-container img {
    height: 1.3rem;
    margin: 5px;
}

.contacto {
    animation: drop 1s ease;
}

.gallery {
    /* height: 70vh; */
    min-height: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 3rem;
    grid-auto-flow: dense;

    /* border: 1px solid blue; */
}

.gallery-box {
    background-color: var(--clr-background2);
    min-height: 300px;
    /* border: 1px solid red; */
}

.gallery-title {
    font-size: 1.5rem;
    /* border: 1px solid blue; */
    width: 70%;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bolder;
    /* border-bottom: 2px solid var(--clr-font--dark); */
}

.gallery-box a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--clr-font--dark);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: drop 1s ease;

    /* background-color: white; */
}

.img-project {
    object-fit: cover;
    object-position: center;
    height: 225px;
    width: 100%;
}

.project h3,p {
    margin: 10px 15px;
}

.project h3 {
    font-weight: bolder;
}

.portfolio-main {
    height: 75vh;
    overflow-y: auto;
    justify-content: start;
    
    /* border: 1px solid blue; */
}

.portfolio-footer {
    height: 10vh;
}


.member {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.member-image {
    height: 6rem;
    border-radius: 50%;
    margin: 0 30px;
    transition: 350ms ease-in-out;
}

.member-image:hover {
    transform: scale(1.5);
    filter: drop-shadow( 15px 15px 15px rgba(0,0,0,.2));
}   

.member-description p {
    margin: 0;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--clr-font--light);
}

.member-description h2 {
    margin: 0;
    font-weight: 900;
    font-size: 1rem;
    color: var(--clr-font--medium);
}

.carousel {
    width: 60vw;
    animation: drop 1s ease;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgb(168, 168, 168);
}


/* .carousel-item {
    height: 100%;
    object-fit: cover;
} */










@media (-webkit-min-device-pixel-ratio: 1.25) {
    :root {
        font-size: 13px;
    }
    .services-cards-container {
        max-width: 100%;
    }
}

@media (max-width: 1366px) {
    :root {
        font-size: 12px;
    }

    .services-cards-container {
        max-width: 100%;
    }
}


@media (max-width: 900px) {

    footer {
        display: none;
    }

    main {
        height: auto;
        overflow-y: auto;
    }

    section {
        width: 80%;
        height: auto;
    }

    header {
        height: 10vh;
    }

    .presentation-content {
        height: auto;
    }

    .services-cards-container {
        max-width: 100%;
        flex-direction: column;
    }

    .service {
        flex-direction: row;
        width: 100%;
    }

    .service-info h2 {
        text-align: left;
    }

    .contacto {
        height: 80vh;
    }

}

.carouselExampleIndicators:fullscreen {
    height: auto;
    width: auto;
}

.carouselExampleIndicators:-webkit-full-screen {
    height: auto;
    width: auto;
}
  
/* IE11 */
.carouselExampleIndicators:-ms-fullscreen {
    height: auto;
    width: auto;
}


@media (max-width: 500px) {
    .service {
        flex-direction: column;
    }

    body {
        overflow-y: scroll;
        height: 100%;
    }

    nav {
        height: 10vh;
    }

    .nav-list {
        flex-wrap: wrap;
    }

    .rurale-background {
        height: 100vh;
    }

    .presentation-title {
        display: inline;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    :root {
        font-size: 15px;
    }

    .service {
        transform: scale(1.1);
        box-shadow: 10px 10px 15px rgba(0,0,0,.1);
        margin: 30px 0;
        padding: 30px;
    }

    footer {
        display: block;
        height: 10vh;
    }

    .services-cards-container {
        margin-bottom: 0;
    }
    .contacto {
        margin: 0;
        height: 80vh;
    }

    .member {
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .gallery {
        width: 95%;
    }

    .member-description {
        margin: 20px 0;
    }

    .member-description h2,p {
        width: 100%;
        margin: 0;
    }

    .members-container {
        margin-top: 50px;
    }

    .contacto-container {
        text-align: center;
    }

    .carousel{
        width: 95%;
    }

    .member-name {
        text-align: center;
    }

    .center-text {
        text-align: center;
        font-size: 0.8rem;
    }

}











@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes drop-down{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}